{% extends "votacao/index.html" %}

{% block questao %}
        <h1>Criar User</h1>
 {% endblock %}

{% block referencia_questao %}
{% endblock %}

{% block Novaquestao %}
{% endblock %}

{% block NovoUtilizador %}
{% endblock %}


{% block questaoList %}
{% endblock %}

{% block informacaoPessoal %}

   {% if error_message %}
     <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form name="nova_questao" action="{% url 'votacao:criarUserButton' %}" method="POST">

  <label for="fname">Username:</label>
    {% csrf_token %}
  <input type="text" id="usernameID" name="username" ><br><br>
    <label for="fname">Email:</label>
  <input type="text" id="EmailID" name="email" ><br><br>
  <label for="lname">Password:</label>
  <input type="password" id="passwordID" name="password"><br><br>
    <label for="fname">Curso:</label>
  <input type="text" id="cursoID" name="curso" >
    <br><br>
  <input type="submit" value="submit">
</form>

    <br><br>

    {% load static %}
<form method="post" enctype="multipart/form-data" action="{% url 'votacao:informacaoPessoal' %}">
{% csrf_token %}
<input type="file" name="myfile">
<input type="submit" value="Upload">
</form>
{% if uploaded_file_url %}
<p>Feito o upload para:<a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
{% endif %}


<img src="{{ uploaded_file_url }}" />
<p><a href="{% url 'votacao:index' %}"> Voltar ao inicio</a></p>


{% endblock %}

{% block form %}

{% endblock %}




