{% extends "votacao/index.html" %}

{% block questao %}
   <h1>Olá Admin!</h1>
 {% endblock %}

{% block Novaquestao %}
<a href="{% url 'votacao:criarQuestao' %}">Nova Questao</a><br>
{% endblock %}


{% block referencia_questao %}
    <a href="{% url 'votacao:detalhe' questao.id %}">{{ questao.questao_texto }} </a>
{% endblock %}




{% block informacaoPessoal %}
        <form action="{% url 'votacao:informacaoPessoal' %}" method="POST" style="text-align: left">
    {% csrf_token %}

     <input type="submit" value="informacao Pessoal">
    </form>

{% endblock %}


{% block form %}
    <form action="{% url 'votacao:logoutview' %}" method="POST" style="text-align: left">
    {% csrf_token %}

     <input type="submit" value="Logout">
    </form>
{% endblock %}
